<h1>יצאת חושם?</h1>
<p class="husham-demo-text">
    {{story}}
</p>
<p class="husham-demo-text">
    <strong>
        יצאת חושם.
    </strong>
</p>
<p>
    <input type="text" class="input-large husham-textbox span10" placeholder="בלה בלה בלה." />
</p>
<p>
    תייג: <input type="text" class="husham-box-tagging-box" />
</p>
<p class="husham-add-actions">
    <input type="button" class="btn btn-large btn-primary" value="יצאתי חושם" />
    <input type="reset" class="btn btn-large btn-danger reset-form" value="אופס" />
</p>